<section class="about" id="about">
  <div class="container">
    <div class="about-wrap">
      <p class="about-title">About us</p>
      <h2 class="about-subtitle">
        Our сraftsmanship: сreating unique handmade furniture
      </h2>
      <p class="about-description">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="about-list">
        <li class="about-list-item">
          <p class="about-trigger element-animation trigger-one">5+</p>
          <p class="about-description-trigger description-trigger-one">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-trigger element-animation trigger-two">100%</p>
          <p class="about-description-trigger description-trigger-two">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-trigger element-animation trigger-three">500+</p>
          <p class="about-description-trigger description-trigger-three">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>

    <picture class="about-picture element-animation">
      <source
        srcset="
          ./img/about-us-images/dectop.jpg    1x,
          ./img/about-us-images/dectop@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/about-us-images/about-tablet.jpg    1x,
          ./img/about-us-images/about-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/about-us-images/about-mobile.jpg    1x,
          ./img/about-us-images/about-mobile@2x.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img
        src="../img/about-us-images/about-mobile.jpg"
        alt="Interier"
        class="about-image"
        width="100%"
      />
    </picture>
  </div>
</section>
