
 <!-- Clients reviews start -->
<section class="clients_section">

    <h3 class="clients_header">CLIENTS REVIEWS</h2>
    <div class="clients_container">
      
                  <!-- Alexandra Dream -->
        
    <div class="clients_blok_1">
    <ul>
    <li class="clients_blok_list">
    <picture>
                <source
                  srcset="
                    ../img/clients-images/client-tablet-desctop-1.png    1x,
                    ../img/clients-images/client-tablet-desctop-1@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ../img/clients-images/client-mobile-1.png    1x,
                    ../img/clients-images/client-mobile-1@2x.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="../img/clients-images/client-tablet-desctop-1@2x.png"
                  alt="Smartphone screen with QR-code"
                  width="56"
                />
              </picture>
              <h3 class="clients_blok_title">ALEXANDRA DREAM</h3>
              <p class="clients_blok_info">1 week ago</p>
              <p class="clients_blok_test">
                I was blown away by the quality and craftsmanship of the furniture I
                received from this company. Each piece was unique and beautifully
                designed, and you can tell that a lot of thought and care goes into
                every detail.
              </p>
              </li>
             </ul>
            </div>


 </div> 
</section>
  <!-- Clients reviews end -->