 <!-- Clients reviews start -->
<section>
<h2>Clients reviews</h2>

<ul>

<!-- Alexandra Dream -->
<li>
 <div class="blok-1"> 
     <img class="" src="" alt="Alexandra">
     <h3>Alexandra Dream</h3>
     <p>A week ago</p>
 </div>
 
 <div class="blok-2"> 
 <p>I was blown away by the quality and craftsmanship of the furniture I received from this company. 
     Each piece was unique and beautifully designed, and you can tell that a lot of thought and care goes into every detail.</p>
 </div>
</li>


<!-- James Williams -->
<li>
 <div class="blok-1"> 
     <img src="" alt="James">
     <h3>James Williams</h3>
     <p>A week ago</p>
 </div>
     
 <div class="blok-2"> 
     <p>The "Minimal" furniture set is a fantastic addition to my home. 
         It boasts a minimalist design, enhancing the feel and look of my living space. 
         The sturdy construction is worth noting too, which speaks volumes about its durability.</p>
 </div>
</li>
  
<!-- Emily Watson -->
<li>
 <div class="blok-1"> 
     <img src="" alt="Emily">
     <h3>Emily Watson</h3>
     <p>3 week ago</p>
 </div>
         
 <div class="blok-2"> 
     <p>The "Minimal" furniture set has far exceeded my expectations. 
             The sleek design combined with the high-quality materials have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort..</p>
 </div>
</li>
</ul>

</section>
<!-- Clients reviews end -->