<footer class="footer-item">
<section class="container footer-container">
<div class="footer">
<div class="footer-logo-nav">
<div class="footer-logo">
<a href="" class="footer-logo">
<svg class="footer-logo-icon" width="100" height="16">
    <use href="../img/icons.svg#icon-logo"></use>
</svg>
</a>
</div>

<nav class="footer-nav">
    <ul class="footer-nav-list">
        <li class="footer-nav-link"><a href="#about">About Us</a></li>
        <li class="footer-nav-link"><a href="#products">Our products</a></li>
        <li class="footer-nav-link"><a href="#prices">Prices</a></li>
        <li class="footer-nav-link"><a href="#bestsellers">Bestsellers</a></li>
        <li class="footer-nav-link"><a href="#reviews">Reviews</a></li>
    </ul>
</nav>

</div>


<div class="footer-info-contacts">
<div class="footer-info">
    <a class="footer-info-adress" target="_blank"
        href="https://www.google.com/maps/search/Obolonsky+Prospect,+14,+Kyiv/@50.5314704,30.3372317,12z/data=!3m1!4b1?entry=ttu">Obolonsky
        Prospect, 14, Kyiv</a>
    <p class="footer-info-schedule">Daily 10:00-21:00</p>
</div>

<address class="footer-contacts-item">
  <ul class="footer-contacts">
    <li class="footer-contacts-link"><a href="tel:+380669384758">+380669384758</a></li>
    <li class="footer-contacts-link"><a href="tel:+380679384758">+380679384758</a></li>
    <li class="footer-contacts-link"><a class="footer-email" href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a></li>
  </ul>
</address>
</div>

<ul class="footer-socials-list">
    <li class="footer-icons-link">
        <a href="facebook" class="socials-link" target="_blank">
            <svg class="footer-socials-icons" width="28" height="28">
                <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
    <li class="footer-icons-link">
        <a href="instagram" class="socials-link" target="_blank">
            <svg class="footer-socials-icons" width="28" height="28">
                <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
        </a>
    </li>
    <li class="footer-icons-link">
        <a href="youtube" class="socials-link" target="_blank">
            <svg class="footer-socials-icons" width="28" height="28">
                <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
        </a>
    </li>
</ul>

<div>
    <p class="footer-text">By using this website, you agree to <a href="#" class="privacy-link">the Terms of Service</a>
        and <a href="#" class="privacy-link">Privacy Policy</a></p>
</div>

</div>
</section>
</footer>