
<!-- Nadya Timrova -->
    <header class="header">
      <div class="container header-container">
        <nav class="header-navigation">
            <a
                class="header-logo"
                href="./header.html"
                aria-label="header"
                target="_blank"
                rel="noopener noreferrer"
              >
            <svg class="header-icon" height="16"> 
                <use href="../img/icons.svg#icon-logo"></use>
            </svg>
            </a>

          <ul class="header-menu">
            <li class="header-menu-item">
              <a class="header-menu-link" href="#about"
                >About us</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link" href="#products"
                >Our products</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link" href="#prices">Prices</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link" href="#bestsellers">Bestsellers</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link" href="#reviews">Reviews</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>

        
        <button type="button" class="mobile-menu-btn" data-menu-open>
          
          <svg class="mobile-icon">
            <use href="../img/icons.svg#icon-menu-burger"></use>
          </svg>
        </button>
      </div>

      <div class="mob-menu visually-hidden " data-menu>
        <nav class="menu-header-navigation">
          <a
              class="header-logo"
              href="./header.html"
              aria-label="header"
              target="_blank"
              rel="noopener noreferrer"
            >
          <svg class="header-icon" height="16"> 
              <use href="../img/icons.svg#icon-logo"></use>
          </svg>
          </a>
        <button type="button" class="mob-close-button" data-menu-close>
          <svg class="mob-icons-closed" >
            <use href="../img/icons.svg#icon-close-black"></use>
          </svg>
        </button>
        </nav>

        <ul class="mobile-menu list">
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="./about-us.html"
                >About us</a
              >
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link " href="./our-products.html"
                >Our products</a
              >
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="./price.html">Prices</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="./bestsellers.html">Bestsellers</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="./clients-reviews.html">Reviews</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link" href="./footer.html">Contacts</a>
            </li>
          </ul>

        
      </div>
    </header>
