<!-- Nadya Timrova -->
    <header class="header">
      <div class="container header-container">
        <nav class="header-navigation">
            <a
                class="header-logo"
                href="./header.html"
                aria-label="header"
                target="_blank"
                rel="noopener noreferrer"
              >
            <svg class="header-icon" height="16"> 
                <use href="./src/img/icons.svg/#icon-logo"></use>
            </svg>
            </a>

          <ul class="header-menu list">
            <li class="header-menu-item">
              <a class="header-menu-link link active" href="./about-us.html"
                >About us</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link link" href="./our-products.html"
                >Our products</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link link" href="./price.html">Prices</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link link" href="./bestsellers.html">Bestsellers</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link link" href="./clients-reviews.html">Reviews</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link link" href="./footer.html">Contacts</a>
            </li>
          </ul>
        </nav>

        
        <button type="button" class="mobile-menu-btn" data-menu-open>
          <svg class="mobile-icon">
            <use href=""></use>
          </svg>
        </button>
      </div>
<!-- 
      <div class="mob-menu is-hidden" data-menu>
        <button type="button" class="mob-close-button" data-menu-close>
          <svg class="mob-icons-closed" >
            <use href="./images/icons.svg#icon-close-black-18dp-2-1"></use>
          </svg>
        </button>

        <ul class="mobile-menu list">
            <li class="mobile-menu-item">
              <a class="mobile-menu-link link active" href="./about-us.html"
                >About us</a
              >
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link link" href="./our-products.html"
                >Our products</a
              >
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link link" href="./price.html">Prices</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link link" href="./bestsellers.html">Bestsellers</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link link" href="./clients-reviews.html">Reviews</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-link link" href="./footer.html">Contacts</a>
            </li>
          </ul>

        
      </div> -->
    </header>
