<section id="products" class="product">
  <div class="product-container container">
    <h2 class="product-subtitle">Our Product</h2>
    <ul class="product-list">
      <li class="product-item element-animation">
        <picture>
          <source
            srcset="
              ./img/our-product-images/product-desctop-1.jpg    1x,
              ./img/our-product-images/product-desctop-1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/our-product-images/product-tablet-1.jpg    1x,
              ./img/our-product-images/product-tablet-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/our-product-images/product-mobile-1.jpg    1x,
              ./img/our-product-images/product-mobile-1@2x.jpg 2x
            "
            media="(min-width: 375px)"
            type="image/jpeg"
          />
          <img
            src="./img/our-product-images/product-mobile-1@2x.jpg"
            alt="Minimalist storage solutions"
            width="686"
            class="product-img"
          />
        </picture>
        <p class="product-text">Minimalist storage solutions</p>
      </li>
      <li class="product-item element-animation">
        <picture>
          <source
            srcset="
              ./img/our-product-images/product-desctop-2.jpg    1x,
              ./img/our-product-images/product-desctop-2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/our-product-images/product-tablet-2.jpg    1x,
              ./img/our-product-images/product-tablet-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <img
            src="./img/our-product-images/product-tablet-2@2x.jpg"
            alt="Minimalist storage solutions"
            width="688"
            class="product-img"
          />
        </picture>
        <p class="product-text">Handcrafted minimalist seating</p>
      </li>
      <li class="product-item element-animation">
        <picture>
          <source
            srcset="
              ./img/our-product-images/product-desctop-3.jpg    1x,
              ./img/our-product-images/product-desctop-3@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <img
            src="./img/our-product-images/product-desctop-3@2x.jpg"
            alt="Minimalist storage solutions"
            width="624"
            class="product-img"
          />
        </picture>
        <p class="product-text">Sleek and simple tables</p>
      </li>
      <li class="product-item element-animation">
        <picture>
          <source
            srcset="
              ./img/our-product-images/product-desctop-4.jpg    1x,
              ./img/our-product-images/product-desctop-4@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <img
            src="./img/our-product-images/product-desctop-4@2x.jpg"
            alt="Minimalist storage solutions"
            width="624"
            class="product-img"
          />
        </picture>
        <p class="product-text">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
