<section>
  <ul class="product-list">
    <li class="product-item">
      <img src="" alt="Minimalist storage solutions" class="product-img" />
      <p class="product-text">Minimalist storage solutions</p>
    </li>
    <li class="product-item">
      <img src="" alt="Handcrafted minimalist seating" class="product-img" />
      <p class="product-text">Handcrafted minimalist seating</p>
    </li>
    <li class="product-item">
      <img src="" alt="Sleek and simple tables" class="product-img" />
      <p class="product-text">Sleek and simple tables</p>
    </li>
    <li class="product-item">
      <img
        src=""
        alt="Minimalist seating for every space"
        class="product-img"
      />
      <p class="product-text">Minimalist seating for every space</p>
    </li>
  </ul>
</section>
