<section id="prices" class="price">
  <div class="container">
    <ul class="price-list">
      <li class="price-item">
        <p class="price-text">Chairs</p>
        <p class="price-price">from 200₴</p>
      </li>
      <li class="price-item">
        <p class="price-text">Tables</p>
        <p class="price-price">from 250₴</p>
      </li>
      <li class="price-item">
        <p class="price-text">Dressers</p>
        <p class="price-price">from 300₴</p>
      </li>
      <li class="price-item">
        <p class="price-text">Sofas</p>
        <p class="price-price">from 500₴</p>
      </li>
    </ul>
  </div>
</section>
