<section id="prices" class="price container">
  <ul class="price-list">
    <li class="price-item">
      <div class="price-text">
        <p class="price-text">Chairs</p>
        <p class="price-price">from 200₴</p>
      </div>
    </li>
    <li class="price-item">
      <div class="price-text">
        <p class="price-text">Tables</p>
        <p class="price-price">from 250₴</p>
      </div>
    </li>
    <li class="price-item">
      <div class="price-text">
        <p class="price-text">Dressers</p>
        <p class="price-price">from 300₴</p>
      </div>
    </li>
    <li class="price-item">
      <div class="price-text">
        <p class="price-text">Sofas</p>
        <p class="price-price">from 500₴</p>
      </div>
    </li>
  </ul>
</section>
