<section class="subscription">
  <div class="subscription-div">
    <div class="sub-form-div">
    <h2 class="subscription-title">Newsletter</h2>
    <p class="subscription-subtitle">
      Every week we will send you new designs and information about sales.
    </p>

    <form>
      <div class="modal-field">
        <label for="user-name" class="input-label"></label>
        <textarea
          name="user-name"
          id="user-name"
          class="modal-textarea"
          placeholder="Name"
          minlength="2" 
          maxlength="16"
          required
        ></textarea>
      </div>

      <div class="modal-field-e">
        <label for="input-email" class="input-label"></label>

        <input
          type="email"
          name="input-email"
          class="modal-textarea"
          id="input-email"
          placeholder="Email"
          required
        />
      </div>

      <div class="modal-field-two">
        <input
          type="checkbox"
          name="user-privacy"
          id="user-privacy"
          value="true"
          class="modal-check visually-hidden"
        />
        <label for="user-privacy" class="check-text"
          ><span class="privacy-span">
            <svg class="check-icon" width="10" height="8">
              <use href="../img/icons.svg#"></use>
            </svg>
          </span>
          <a href="" class="privacy-link"
            >Agree to subscribe to the newsletter</a
          >
        </label>
      </div>
      <button class="button-sub" type="submit">Send</button>
    </form>
  </div>
    <div class="picture-div">
    <picture>
      <source
        srcset="
          ../img/subscription-images/subs-desctop.jpg    1x,
          ../img/subscription-images/subs-desctop@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ../img/subscription-images/subs-tablet.jpg    1x,
          ../img/subscription-images/subs-tablet@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/subscription-images/subs-mobile.jpg    1x,
          ../img/subscription-images/subs-mobile@2x.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img
        src=" ../img/subscription-images/subs-tablet@2x.jpg"
        alt="Little table near the sofa"
        width="1408"
      />
    </picture>
  </div>
  </div>
</section>
<script>
  const form = document.querySelector('form');
  const emailInput = document.querySelector('#input-email');

  // Проверяем состояние поля после загрузки страницы
  window.addEventListener('load', function() {
    if (!emailInput.validity.valid) {
      emailInput.classList.add('invalid-input');
    }
  });

  form.addEventListener('submit', function(event) {
    if (!emailInput.validity.valid) {
      emailInput.classList.add('invalid-input');
      event.preventDefault(); // Остановка отправки формы
    } else {
      emailInput.classList.remove('invalid-input');
    }
  });
</script>


