

.clients-blok-list{
  display: flex;
}

.clients-section {
  min-width: 288px;
  margin: 0 auto;
  padding: 0 16px;
}



.clients-section {
  background-color: #f7faff;
  min-width: 288px;
  margin-bottom: 60px;
  padding-top: 0px;
  
}

.clients-header {
  padding-top: 60px;
  margin-bottom: 30px;
  color: #0a224a;
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
}

.clients-container {
  padding: 30px 30px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}



.clients-blok-item {
  background-color:var(---color white) ;
  border-radius: 2%;
  display: block;
}

.clients-blok-3 {
  background-color: #ffffff;
  border-radius: 2%;
  display: block;
}


.clients-blok-title {
  color: #0a224a;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
  padding: 4px;
  display: inline-block;
  margin-bottom: 4px;
}

.clients-blok-info {
  color: #0a224a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  opacity: 80%;
}

.clients-blok-text {
  color: #0a224a;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
}




@media screen and (min-width: 768px) {
  .clients-section {
    min-width: 768px;
    padding: 0 32px;
  }

  .clients-blok-2 {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .clients-section {
    min-width: 1320px;
    padding: 0 60px;
  }
}