.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .header{
    background: var(--light-blue, #F7FAFF); 
}

.header-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    
}
.header-navigation{
    text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu{
    display: flex;
    gap: 30px;
}

.header-icon{
    fill: var(--color-blue-font);
}

.mobile-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    fill: var(--color-blue-font);
    padding: 0;
  }
  .mobile-icon{
    fill: var(--color-blue-font); 

}
  
.mob-menu {
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    
}

.menu-header-navigation{
    background-color: var(--color-light-blue);
    text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
.mobile-menu{
    gap: 17px;
    margin-top: 114px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mob-close-button {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
.mobile-menu-link{
font-size: 16px;
line-height: 1.5; 
}


@media screen and (max-width: 320px) {
    .header-menu{
        display: none;
    }
    .mobile-icon{
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: 320px) {

    .header-menu{
        display: none;
    }
    .header-logo{
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .header-icon{
        width: 100px;
    }

    .mobile-icon{
        width: 32px;
        height: 32px;
    }
    .mob-icons-closed{
        width: 32px;
        height: 32px;
        fill: var(--color-blue-font);
    }

}

/*!------------ TABLET -------------- */

@media screen and (min-width: 768px) {
    .header-logo{
        padding-top: 40px;
        padding-bottom: 39px;
    }

    .header-icon{
        width: 127px;
    }
    .mobile-icon{
        width: 40px;
        height: 40px;
    }
    .mob-icons-closed{
        width: 40px;
        height: 40px;
    }
    .mobile-menu-link{
        color: var(--color-blue-font);;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; 
    }
    .mobile-menu{
        gap: 30px;
        margin-top: 150px;
    }

    .menu-header-navigation{
        padding: 0 32px;
    }
    
}

/*!------------ COMPUTER -------------- */

@media screen and (min-width: 1440px) {
    .header-logo{
        padding-top: 38px;
        padding-bottom: 41px;
    }
    .header-container.container{
        max-width: 1440px;
    }
    .header-menu{
        display: flex;
    }
    
    .header-container{
        display: block;
    }
    .mobile-icon{
        display: none;
    }

    .header-icon{
        width: 127px;
    }

    .header-menu-item{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    }
    
}