/* ------------ HERO-MOBILE ------------ */

.hero {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 717px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/hero-images/mobile-bcg.jpg);
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero-images/mobile-bcg@2x.jpg);
  }
}

.hero-title {
  max-width: 286px;
  font-family: 'Playfair Display';
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 140px;
  transform: translateX(-20px);
  opacity: 0;
  transition: transform 1000ms ease-out, opacity 1000ms linear;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hero-description {
  max-width: 343px;
  line-height: 1.5;
}

.hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 48px;
  background-color: var(--color-blue-font);
  transition: background-color 250ms ease-in-out;
  color: var(--color-white);
  line-height: 1.5;
}

/*! ------------ HERO-ANIMATIONS ------------ */

.hero-title.element-show {
  transform: translateX(0);
  opacity: 1;
}

/*! ------------ HERO-ANIMATIONS ------------ */

/* ------------ HERO-MOBILE ------------ */

/*? ------------ HERO-TABLET ------------ */

@media screen and (min-width: 768px) {
  .hero.container {
    padding: 0 32px;
    max-width: 768px;
  }

  .hero {
    height: 858px;
    background-image: url(../img/hero-images/tablet-bcg-1.jpg),
      url(../img/hero-images/tablet-bcg-2.jpg);
    background-size: 308px, 367px;
    background-position: 32px 263px, calc(100% - 32px) 57px;
    gap: 410px;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero-images/tablet-bcg-1@2x.jpg),
        url(../img/hero-images/tablet-bcg-2@2x.jpg);
    }
  }

  .hero-title {
    padding-top: 64px;
    max-width: 648px;
    font-size: 50px;
  }

  .hero-wrap {
    gap: 30px;
  }

  .hero-description {
    font-size: 18px;
    max-width: 312px;
  }

  .hero-link {
    height: 50px;
    font-size: 18px;
    line-height: 1.33;
  }
}

/*? ------------ HERO-TABLET ------------ */

/*TODO ------------ HERO-DESKTOP ------------ */

@media screen and (min-width: 1440px) {
  .hero.container {
    padding: 64px 60px 100px 60px;
    max-width: 1440px;
  }

  .hero {
    height: 694px;
    background-image: url(../img/hero-images/desctop-bcg-1.jpg),
      url(../img/hero-images/desctop-bcg-2.jpg),
      url(../img/hero-images/desctop-bcg-3.jpg);
    background-size: 310px, 648px, 312px;
    background-position: 60px 265px, 395px 64px, calc(100% - 60px) 64px;
    gap: 360px;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-title {
    padding-top: 0;
  }

  .hero-wrap {
    justify-content: end;
  }

  .hero-description {
    width: 312px;
  }

  .hero-btn:hover,
  .hero-btn:hover {
    background-color: #061835;
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero-images/desctop-bcg-1@2x.jpg),
        url(../img/hero-images/desctop-bcg-2@2x.jpg),
        url(../img/hero-images/desctop-bcg-3@2x.jpg);
    }
  }
}

/*TODO ------------ HERO-DESKTOP ------------ */
