.product-subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 33px;
}

.product-item:nth-child(2),
.product-item:nth-child(3),
.product-item:nth-child(4) {
  display: none;
}

.product-text {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .product-subtitle {
    font-size: 32px;
    line-height: 1.41;
    margin-bottom: 30px;
  }

  .product-item:nth-child(2) {
    display: block;
  }

  .product-list {
    display: flex;
    gap: 16px;
  }
  .product-text {
    font-size: 18px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .product-item:nth-child(3),
  .product-item:nth-child(4) {
    display: block;
  }

  .product-list {
    gap: 24px;
  }

  .product-img {
    max-width: 312px;
  }
}
