.subscription {
  padding-top: 64px;
  padding-bottom: 64px;
}

.subscription-title {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.subscription-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}

.button-subs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  min-width: 224px;
  height: 50px;
  padding: 17px 65px;
  background-color: var(--color-blue-font);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs-field {
  margin-bottom: 20px;
}
.subs-field-e {
  margin-bottom: 20px;
}

.subs-input::placeholder {
  color: var(--color-grey);
}

.subs-input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-blue-font);
  background-color: transparent;
  resize: none;
  outline: transparent;
  padding: 11px 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--dark-grey, #b6b6b6);
}
.sub-input:hover,
.sub-input:focus {
  border: 1px solid var(--color-blue-font);
}

.subs-field-two {
  margin-bottom: 32px;
}

.check-text span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #f4f4fd;
  fill: transparent;
  margin-right: 8px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--dark-grey, #b6b6b6);
}
.check-icon {
  fill: transparent;
}
.subs-check:checked + .check-text span {
  fill: var(--color-white);
  border: none;
  background-color: var(--color-blue-font);
}

.sub-privacy-link {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
input:invalid:not(:placeholder-shown) {
  border: 2px solid var(--color-red);
  outline: transparent;
  color: var(--color-red);
}
input:valid:not(:placeholder-shown) {
  border: 2px solid var(--color-green);
  outline: transparent;
  color: var(--color-green);
}
.wrapper {
  position: relative;
}
.icon-error {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  fill: transparent;
}
input:invalid:not(:placeholder-shown) + .icon-error {
  fill: var(--color-red);
}

@media screen and (min-width: 768px) {
  .subscription {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .subscription-title {
    font-size: 32px;
    line-height: 1.41;
    justify-content: left;
    margin-bottom: 20px;
  }
  .subscription-text {
    font-size: 18px;
    max-width: 536px;
  }

  .sub-input {
    max-width: 536px;
    font-size: 18px;
  }

  .sub-privacy-link {
    font-family: 18px;
  }
  .subs-field-two {
    margin-bottom: 30px;
  }

  .privacy-link {
    font-size: 18px;
  }
  .icon-error {
    right: 180px;
  }
  .button-subs {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.33;
  }
  .button-subs:hover,
  .button-subs:focus {
    background-color: var(--color-actions);
  }
}
@media screen and (min-width: 1440px) {
  .subscription-title {
    margin-bottom: 31px;
  }
  .subscription {
    padding-bottom: 86px;
  }

  .subscription-text {
    margin-bottom: 20px;
  }

  .subs-img {
    max-width: 460px;
  }
  .button-subs {
    margin-bottom: 0px;
  }
  .picture-div {
    display: flex;
  }
  .subs-form {
    display: flex;
    flex-direction: column;
  }
  .subscription-container {
    display: flex;
    gap: 100px;
    justify-content: center;
  }
  .icon-error {
    right: 20px;
  }
}
