:root {
  --color-light-blue: #f7faff;
  --color-blue-font: #0a224a;
  --color-white: #fff;
  --color-grey: #d9d9d9;
  --color-dark-grey: #b6b6b6;
  --color-bcg-gray: #7a7a7a;
  --color-actions: #061835;
  --color-red: #e74a3b;
  --color-green: green;

  --our-transition-duration: 200ms;
  --our-transition-time-function: ease-in-out;
  --our-transition-delay: 200ms;
}
